.header {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.note {
  padding: 20px;
  height: 100vh;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.date {
  text-align: center;
  margin-bottom: 10px;
}

.title {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}

.title:focus,
.content:focus {
  outline: none;
}

.content {
  display: block;
  width: 100%;
  min-height: 300px;
  padding: 10px;
  border: none;
}
