.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.6), 23px 0 20px -23px rgba(0, 0, 0, 0.6),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .sidebar {
    padding: 10px;
  }
}
