.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  border-radius: 4px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
    inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  color: black;
  transition: color 250ms ease;
}

@media (min-width: 768px) {
  .button {
    width: 40px;
  }
}

.button[disabled] {
  pointer-events: none;
}

.button:hover,
.button:focus {
  color: white;
}
